#!/usr/bin/env zsh

function kill {
	if [ -n "$1" ]; then
    lsof -ti:$1 | xargs kill
	else
		echo "Provide the port. Example: kill 3000"
	fi;
}

function import_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh import_dotfiles.sh
	cd $cwd
}

function export_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh update_dotfiles.sh
	cd $cwd
}

function setup_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh setup.sh
	cd $cwd
}

function clean_branches {
  : ${REMOTE:=origin}

  set -x
  git remote update $REMOTE --prune
  set +x

  TO_DELETE=$(diff <(git branch | cut -c 3-) <(git branch -r | cut -c 3- | grep $REMOTE | sed "s%^$REMOTE/%%") | grep '<' | awk '{print $2}')

  if [[ -z "$TO_DELETE" ]]
  then
    echo "No local branches to delete."
    exit
  fi

  echo "Deleting these (local) branches: $TO_DELETE"
  echo "Press enter to continue"
  read

  a=("${(f)TO_DELETE}")

  for branch in $a
  do
    git branch -D $branch
  done
}

function remove_containers {

}

function remove_images {

}
