#!/usr/bin/env zsh

function kill {
	if [ -n "$1" ]; then
    lsof -ti:$1 | xargs kill
	else
		echo "Provide the port. Example: kill 3000"
	fi;
}

function import_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh import_dotfiles.sh
	cd $cwd
}

function export_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh update_dotfiles.sh
	cd $cwd
}

function setup_dotfiles {
	cwd=$(pwd)
	cd ~/dotfiles
	sh setup.sh
	cd $cwd
}

function remove_containers {

}

function remove_images {

}
